* {
  box-sizing: border-box;
}
header{
  background-color: rgb(252, 221, 184);
}
#honey img{
  width: 200px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  color:rgb(152, 115, 70);
}

nav a[aria-current='page'] {
  color: #000;
  background-color: rgb(238, 209, 129)
}
.activo{
  box-shadow: 5px 5px rgba(211, 170, 18, 0.841);
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}
section {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
 #index {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(255, 239, 210);
  padding: 40px;
  color: rgb(152, 115, 70);
}

#cards{
  text-align:center;
  align-self: center;
  background-color:rgb(258, 221, 184);
  height:410px;
  padding: 10px;
  border: 20px;
  color: rgb(152, 115, 70);
}
#cards img{
  width: 299px;
  height: 299px;
}
a {
  color: rgba(255, 255, 255, 0);
}

#subrayado{
  text-decoration: underline double rgb(159, 10, 10) 2px;
}
#si-o-si{
text-align: center;
background-color: wheat;
word-wrap: break-word;
}

#si-o-si tr,#si-o-si td{
  border: solid rgb(171, 126, 37) 0.5px;
  color: rgb(152, 115, 70);
}
table h2{
  color:rgb(152, 115, 70);
  align-items: start;
}
table img{
  padding: 4px;
}

footer {
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#colegio {
  width: 33%;
  background-color: rgb(171, 126, 37);
  padding: 5px;
}
#colegio a {
  color: #ffffff;
}
#alumno {
  width: 33%;
  background-color: rgb(171, 126, 37);
  color: white;
  padding: 5px;
}
#alumno a {
  color: #ffffff;
}
#sociales {
  width: 33%;
  background-color: rgb(171, 126, 37);
  padding: 5px;
}
#sociales img {
  width: 45px;
}
.desplegable {
  position: relative;
  display: inline-block;
}
.contenido-desplegable{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  z-index: 10px;
}
.contenido-desplegable a{
  display: block;
  padding: 10px 0.2px;
  text-decoration: none;
}
.contenido-desplegable a:hover{
  background-color: #f2f2f2;
}
.desplegable:hover .contenido-desplegable{
display: block;
}
#volver-inicio{
background-color: bisque;
text-align: center;
padding: 30px;
}
#volver-inicio a{
  color:rgb(152, 115, 70);
  font-size: 70px;
}
.imagen-con-texto{
  position: relative;
  width: 500px;
}

.imagen-con-texto img{
  width: 100%;
  display: block;
}
.imagen-con-texto h2{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  color: white;

}